<h1>Reset Password</h1>

<% if (typeof error !== 'undefined') { %>
    <h3 style="color: red;"><%= error %></h3>
<% } %>

<form action="reset-password?token=<%= resetData.token %>" method="POST">
    <input type="hidden" name="user_id" value="<%= resetData.user_id %>">
    <input type="password" name="password" required placeholder="New Password">
    <br><br>
    <input type="password" name="c_password" required placeholder="Confirm Password">
    <br><br>

    <input type="submit" value="Reset Password">
</form>
